[submodule "third_party/dsd2pcm"]
	path = third_party/dsd2pcm
	url = https://github.com/clivem/dsd2pcm.git
[submodule "third_party/blackbox"]
	path = third_party/blackbox
	url = https://github.com/Black00Z/Blacks-BlackBox.git
[submodule "third_party/dobby"]
	path = third_party/dobby
	url = https://github.com/JingMatrix/Dobby.git
[submodule "third_party/libusb"]
	path = third_party/libusb
	url = https://github.com/libusb/libusb.git
[submodule "third_party/libsamplerate"]
	path = third_party/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
