<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <permission
        android:name="com.virtualdap.host.permission.BIND_GUEST_RUNTIME"
        android:protectionLevel="signature|privileged" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature android:name="android.hardware.usb.host" />

    <queries>
        <intent>
            <action android:name="com.virtualdap.runtime.GUEST_RUNTIME" />
        </intent>
    </queries>

    <application
        android:name=".VirtualDapApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="VirtualDAP"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.VirtualDAP">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VirtualDAP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.AudioPipelineService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            android:stopWithTask="false" />
    </application>
</manifest>
