<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.virtualdap.platformruntime">

    <permission
        android:name="com.virtualdap.host.permission.BIND_GUEST_RUNTIME"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.MANAGE_VIRTUAL_MACHINE" />
    <uses-permission android:name="android.permission.USE_CUSTOM_VIRTUAL_MACHINE" />
    <uses-feature android:name="android.software.virtualization_framework" android:required="true" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="VirtualDAP platform runtime"
        android:persistent="false">
        <service
            android:name=".GuestRuntimeService"
            android:directBootAware="true"
            android:exported="true"
            android:permission="com.virtualdap.host.permission.BIND_GUEST_RUNTIME">
            <intent-filter>
                <action android:name="com.virtualdap.runtime.GUEST_RUNTIME" />
            </intent-filter>
        </service>
    </application>
</manifest>
